<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      throwExceptions="false">

  <variable name="Readinizer" value="Readinizer" />

  <targets async="true">
    <target xsi:type="File"
            name="default"
            layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            fileName="${currentdir}\readinizer-internal-nlog.txt"
            keepFileOpen="false"
    />
    <target xsi:type="EventLog"
            name="eventlog"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}"
            source="Readinizer"
            log="Application" />

  </targets>
  <rules>
    <logger name="*" writeTo="default" minlevel="Info" />
    <logger name="*" writeTo="eventlog" minlevel="Info" />
  </rules>
</nlog>