<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RecommendedPolicySettings" value="..\..\..\Readinizer.Backend.Business\RecommendedSettings\RecommendedPolicies.json"/>
    <add key="RecommendedAuditSettings" value="..\..\..\Readinizer.Backend.Business\RecommendedSettings\RecommendedAuditSettings.json"/>
    <add key="RecommendedRegistrySettings" value="..\..\..\Readinizer.Backend.Business\RecommendedSettings\RecommendedRegistrySettings.json"/>
    <add key="RecommendedSecurityOptions" value="..\..\..\Readinizer.Backend.Business\RecommendedSettings\RecommendedSecurityOptions.json"/>
    <add key="ReceivedRSoP" value="..\..\..\Readinizer.Backend.Business\ReceivedRSoP"/>
  </appSettings>
</configuration>