<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ReadinizerDbContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;Database=Readinizer;AttachDBFilename=|DataDirectory|\Readinizer.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework;Pooling=false" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="RecommendedPolicySettings" value="RecommendedSettings\RecommendedPolicies.json"/>
    <add key="RecommendedAuditSettings" value="RecommendedSettings\RecommendedAuditSettings.json"/>
    <add key="RecommendedRegistrySettings" value="RecommendedSettings\RecommendedRegistrySettings.json"/>
    <add key="RecommendedSecurityOptions" value="RecommendedSettings\RecommendedSecurityOptions.json"/>
    <add key="ReceivedRSoP" value="ReceivedRSoP"/>
  </appSettings>
</configuration>